# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Instance Folder
instance/app.db

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Test artifacts
*.png
.pytest_cache/
