Flask
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-SocketIO
Flask-WTF
alembic
SQLAlchemy
Werkzeug
Jinja2
itsdangerous
click
blinker
requests
Pillow
firebase-admin
beautifulsoup4
weasyprint
pytest
pytest-playwright
