{% extends "chat_layout.html" %}

{% block chat_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

<div class="settings-page">
    <div class="settings-header">
        <a href="{{ back_url or url_for('main.settings') }}" class="back-btn"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>{% block settings_title %}{% endblock %}</h1>
    </div>

    <div class="settings-content">
        {% block settings_content %}{% endblock %}
    </div>
</div>

{% block extra_scripts %}
{% endblock %}
{% endblock %}
